version: 2.1

orbs:
  aws-cli: circleci/aws-cli@1.0.0  # Replace with the appropriate version

jobs:
  build_project:
    docker:
      - image: node:10.15.3
    steps:
      - checkout
      - run:
          name: Installing dependencies
          command: npm install
      - run:
          name: Build
          command: npm run build
      - persist_to_workspace:
          root: .
          paths:
            - ./dist

  deploy_project:
    executor: aws-cli/default
    steps:
      - attach_workspace:
          at: .
      - aws-cli/setup:
          profile-name: default
      - run:
          name: Upload file to S3
          command: aws s3 sync ./dist/ s3://mindstride --delete --exact-timestamps

workflows:
  deploy-to-S3:
    jobs:
      - build_project
      - deploy_project

